.drop-area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px !important;
    height: 70px;
    border: 1px dashed rgb(168, 163, 163);
    margin-bottom: 15px;
    margin-top: 15px;
    opacity: 1;
    transition:all 0.2s ease-in-out;
    text-align: center;
}
.hide-area{
    width:200px !important;
    height: 50px;
    opacity: 0;
}